<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Desktop.Entity.Properties.Settings._0_app_quizbitConnectionString"
            connectionString="Data Source=118.27.193.68;Initial Catalog=0_app_quizbit;Persist Security Info=True;User ID=khanhjm;Password=!Meohen1232321"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>