<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
	   <add key="WebUrl" value="http://103.57.222.188:8080/"/>
	  <!--<add key="WebUrl" value="http://localhost:49545/"/>-->
    
  </appSettings>
  <connectionStrings>
    <add name="app_quizbit_cloud"
            connectionString="Data Source=103.57.222.188,1433;Initial Catalog=QuizBit;User ID=tqhai;Password=Ha!14020501@;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>